.a-p-T
{
       background: #e1e1e1 url("chrome-extension://hdcnfgkomfmjmlkejhlgeoeejinognek/bg.png") repeat !important;
       /* Extension ID On Chrome Web Store: hdcnfgkomfmjmlkejhlgeoeejinognek */
}

.a-A {
	min-width: 1080px !important;
}	

.a-p-A-xc-zb {
	/*margin-top: 90px !important;*/
	padding: 10px;
	background: #f1f1f1 !important;
	border-left: 1px solid #d2d2d2 !important;
	border-right: 1px solid #d2d2d2 !important;
	border-top: 1px solid #fff !important;
}

.a-p-M-T-gi-xc {
	width: 660px !important;
	background: #f1f1f1 !important;
}

.a-f-p {
	width: 658px !important;
	background: #f1f1f1 !important;
}

.a-f-i {
	margin-top: 15px !important;
	border: 1px solid #d2d2d2 !important;
	border-top: 
	box-shadow: 1px 1px 1px #888;
}

.a-f-n-A {
	width: 625px !important;
}

.a-Hc-A {
	padding: 12px 21px 35px !important;
}

.a-c-p-Mc {
	background: #f1f1f1 !important;
	border: none !important;
}

.a-c-fe-O {
	margin-right: 50px;
}

.d-Aa-ua {
	width: 650px;
	height: 35px;
}

/* 17072011 */
/*Attached content is better distinguishable*/
.ea-S-A {
	background: #f2f2f2;
	border: 1px solid #d2d2d2;
	padding: 10px;
	margin-top: 20px;
	margin-right: 20px;
}

.a-b-f-i-u-ki {
	margin-top: 10px;	
	margin-bottom: 10px;	
}

.a-f-i-u-qb {
	border: none !important;
}

.a-f-i-u-go {
   border-top: 1px solid #aaa;
   padding-top: 10px;	
}

